:root {
  --border-form-color: rgba(160, 160, 160, 0.25);
}
.form-container {
  border: 1px solid var(--border-form-color);
}

.form {
  padding: 5% 2%;
  margin: 0 0.5%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--border-form-color);
}

.form-group {
  display: flex;
  align-items: center;
}

.label {
  font-size: 1.55rem;
  flex-basis: 20%;
}

.input {
  font-size: 2rem;
  padding: 0.75%;
  flex-basis: 75%;
  background-color: rgb(250, 250, 250);
  border: none;
  border-bottom: 1px solid var(--border-form-color);
  transition: all linear 0.1s;
}

.input-focus:focus {
  box-sizing: border-box;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

@media (max-width: 767px) {
  .form-group {
    flex-direction: column;
  }
  .label {
    flex: 1;
    width: 100%;
  }
  .input {
    flex: 1;
    width: 100%;
  }
}

.message {
  font-size: 1.6rem;
  text-transform: capitalize;
  text-align: center;
  margin-top: 8px;
  font-weight: 500;
  color: red;
}

.btn {
  width: 80px;
  height: 40px;
  margin: auto;
  background-color: black;
  outline: none;
  border: none;
  color: white;
  font-size: 1.8rem;
  line-height: 40px;
  transition: all ease 0.15s;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
  transform: scale(105%);
}

.create-link-container {
  text-align: center;
  padding: 20px;
}

.create-link {
  font-size: 1.8rem;
  text-decoration: none;
  color: #333;
}

@media (max-width: 767px) {
  .label {
    margin-bottom: 8px;
  }
  .create-link-container {
    padding: 18px;
  }
  .create-link {
    font-size: 1.6rem;
  }
  .message {
    margin-bottom: 24px;
  }
}
