.product {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 6px;
}

.product-hover:hover .product-img {
  filter: blur(1px);
}

.product-hover:hover .btn-container {
  visibility: visible;
}

.product-hover:hover .btn {
  transform: scale(100%);
}

.product-img {
  object-fit: cover;
  transition: all linear 0.1s;
}

.product-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-details-left {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
}

.product-details-info {
}

.product-name {
  font-size: 1.2rem;
}

.product-desc {
  font-size: 1.4rem;
}

.product-details-right {
  display: flex;
  min-width: 10%;
}

.product-price {
  font-size: 1.8rem;
  font-weight: 500;
}

.btn-container {
  position: absolute;
  top: 30%;
  left: 30%;
  visibility: hidden;
  transition: all linear 0.1s;
}

.btn {
  background-color: white;
  border: gray 1px solid;
  border-radius: 5px;
  font-size: 1.4rem;
  margin: 2px;
  transform: scale(0%);
  transition: all linear 0.1s;
  cursor: pointer;
}

.btn-hover:hover {
  background-color: gray;
  color: white;
}
