.container {
  margin-top: 16px;
  padding: 16px;
  border: 1px solid gray;
  border-collapse: collapse;
}
.header {
}

.title-row {
}

.title-row th {
  font-size: 2rem;
  border: 1px solid gray;
}

.content {
}

.td {
  text-align: center;
  font-size: 2.4rem;
  border: 1px solid gray;
}

.content-row {
  background-color: transparent;
}

.content-img-container {
  width: 15%;
  border-collapse: collapse;
  border: 1px solid gray;
}

.content-img {
  width: 100%;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-name {
  font-size: 2rem;
}

.product-type {
  font-size: 2rem;
}

@media (min-width: 600px) and (max-width: 767px) {
  .title-row th {
    font-size: 1.6rem;
  }

  .td {
    font-size: 1.6rem;
  }
  .product-name {
    font-size: 1.3rem;
  }

  .product-type {
    font-size: 1.3rem;
  }
}

@media (max-width: 599px) {
  .title-row th {
    font-size: 1.3rem;
  }

  .td {
    font-size: 1.3rem;
  }
  .product-name {
    font-size: 1.1rem;
  }

  .product-type {
    font-size: 1.1rem;
  }
}

@media (max-width: 375px) {
  .title-row th {
    font-size: 1.1rem;
  }

  .td {
    font-size: 1.3rem;
  }
  .product-name {
    font-size: 1rem;
  }

  .product-type {
    font-size: 1rem;
  }
}
